body {
    background-color: rgb(39, 39, 39);
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
    overflow: scroll;
}

body::-webkit-scrollbar{
    display: none;
}

#buttons{
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

