body {
    background-color: rgb(39, 39, 39);
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
}

#buttons{
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#counts{
    color: white;
    text-align: right;
    float: right;
}

#cargosEntered{
    display: inline-flex;
}

#cargosExited{
    display: inline-flex;
}

#patrolsEntered{
    display: inline-flex;
}

#patrolsExited{
    display: inline-flex;
}

#piratesEntered{
    display: inline-flex;
}

#piratesExited{
    display: inline-flex;
}

#capturesExited{
    display: inline-flex;
}

#piratesDefeated{
    display: inline-flex;
}

#cargosCaptured{
    display: inline-flex;
}

#capturesRescued{
    display: inline-flex;
}

#evadesNotCaptured{
    display: inline-flex;
}

#normCornerBoatSelect{
    margin-bottom: 0.15in;
}

#dayCornerBoatSelect{
    margin-bottom: 0.15in;
}

#nightCornerBoatSelect{
    margin-bottom: 0.15in;
}

#normSave{
    margin-bottom: 0.5in;
}

#DNToggleContainer{
    margin-bottom: 0.25in;
}

#evadesCaptured{
    display: inline-flex;
}

#Normalsettings{
    color: white;
    float: none;
}

#daySettings{
    color: white;
    float: left;
    margin-right: 1in;
}

#nightSettings{
    color: white;

}

#cellSettings{
    color: white;
}

#cellRow{
    float: left;
}



